.logout-button,
.logout-button:hover {
    -fx-background-color: transparent;
    -fx-font-family: 'Embria';
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #b0b0b0;
    -fx-border-style: none;
    -fx-cursor: hand;
}
.table-row-cell:selected .table-view .column-header .label{
   -fx-text-background-color:  #323232;
}